STRIPE_SECRET_KEY=sk_live_or_test_xxx
STRIPE_PRICE_YEARLY_PREORDER=price_1TjXe5L6unL9FTMGTQbYYOod
STRIPE_PRICE_MONTHLY_PREORDER=price_1TjXfnL6unL9FTMGKiHWoea7
SITE_URL=https://glutt.org
STRIPE_AUTOMATIC_TAX=false
