STRIPE_SECRET_KEY=sk_live_or_test_xxx
STRIPE_PRICE_COOK_SESSION=price_1U34g8L6unL9FTMGdDYHxdTk
STRIPE_PRICE_COOK_MONTHLY=price_1U34mHL6unL9FTMGgQdFjLzQ
SITE_URL=https://glutt.org
STRIPE_AUTOMATIC_TAX=false
